fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
UIAdaptation_index.html

AppVariant_index.html
APIExternalProducer.js
.*/APIExternalProducer.js
/dist/
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
/mta_archives/
/node_modules/
/.che/
.env

node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp